* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
  padding: 0px 10px;
  height: 45px;
  margin-bottom: 20px;
}

.left_sidebar {
  background-color: white;
}

.right_sidebar {
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 8px;
}

.right_sidebar img {
  border-radius: 25px;
  height: 30px;
  width: 30px;
}

.right_sidebar button {
  margin: 0px 5px 0px 5px;
  border: none;
  background-color: white;
  font-weight: 900;
}

#user_icon {
  padding: 0px 4px;
  margin-top: 5px;
  border-radius: 25px;
  background-color: whitesmoke;
}

#messenger_icon {
  padding: 5px 5px;
  margin: 0px 5px;
  border-radius: 25px;
}

.right_sidebar span {
  padding: 6px 8px 8px 0px;
  background-color: white;
}

.logOut {
  padding-left: 10px;
}
